<!DOCTYPE html>
<html>
<head>
    <title>DevOps with Ansible</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="welcome-message">
        <h1>Hello, welcome to the world of DevOps with Ansible</h1>
        <p>So glad you are here today</p>
        <p>We have created our first website with Ansible</p>
        <!-- Adding the Giphy GIF image -->
        <img src="https://media.giphy.com/media/hc0qyUylKYz2N8MFSd/giphy.gif" alt="DevOps GIF" style="max-width: 100%; height: auto;">
    </div>
</body>
</html>